/* Wrapper filter */
.filter-box {
    background: #ffffff;
    width: 100%;
    padding: 25px 8%;
    margin-top: -40px;
    position: relative;
    z-index: 20;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    border-radius: 0 0 14px 14px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}

/* SEARCH BAR */
.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    width: 260px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.95rem;
    transition: 0.25s ease;
    background: #fafafa;
}

.search-box input:focus {
    border-color: #ffd369;
    background: #fff7dd;
}

.search-box button {
    padding: 10px 18px;
    background: #ffd369;
    color: #333;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease;
}

.search-box button:hover {
    background: #ffcf5d;
}

/* PRICE FILTER */
.price-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-filter label {
    font-weight: 600;
    color: #333;
    font-size: 0.95rem;
}

.price-filter select {
    padding: 10px 12px;
    background: #fafafa;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: 0.25s ease;
}

.price-filter select:focus {
    border-color: #ffd369;
    background: #fff7dd;
}
.price-filter select:hover {
    background: #fff7dd;
}

.price-tag {
    display: inline-block;
    padding: 7px 14px;
    background: #ffd369;
    color: #333;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}   